@charset "UTF-8";

.table_sort table {
    border-collapse: collapse;
}

.table_sort th {
    color: #000000;
    background: #e0e0e0;
    cursor: pointer;
}

.table_sort td,
.table_sort th {
    width: 150px;
    height: 40px;
    text-align: center;
    border: 2px solid #846868;
}

.table_sort tbody tr:nth-child(even) {
    background: #f5f5f5;
}

th.sorted[data-order="1"],
th.sorted[data-order="-1"] {
    position: relative;
}

th.sorted[data-order="1"]::after,
th.sorted[data-order="-1"]::after {
    right: 8px;
    position: absolute;
}

th.sorted[data-order="-1"]::after {
    content: "\25BC"
}

th.sorted[data-order="1"]::after {
    content: "\25B2"
}